<div style="margin: 0.5em;">
    <p>
        At SuperHeat I work as a full stack developer creating heat treatment monitoring software.
    </p>
    <ul>
        <li>Angular and AngularJS SPAs</li>
        <li>Transact-SQL</li>
        <li>NodeJS</li>
    </ul>
    <p>
        In my spare time, I work in Unity and Blender tinkering with 3D graphics.
    </p>
    <ul>
        <li>C# Mono</li>
        <li>ShaderGraph</li>
        <li>Blender Python (bpy)</li>
        <li>Blender Shader and Geometry Nodes</li>
    </ul>
</div>
